/* TODO: set background-image to url(gitpod-logo.svg) */
.theia-icon {
    background-image: url(gitpod-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 3.5px 0px;
    min-width: var(--theia-private-sidebar-tab-width);
    max-width: var(--theia-private-sidebar-tab-width);
    height: calc(var(--theia-private-sidebar-tab-width)/2);
    background-position-x: 14.0px;
}
